.auth {
  background: linear-gradient(to bottom right, var(--cl-pri), 20%, var(--cl-grey-dark));
  > a {
    > i {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }
  form {
    input {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border: none;
      border-top: 1px solid var(--cl-grey);
    }
    label {
      border-radius: 8px;
      padding: 0.2rem 0.5rem;
    }
    > span {
      cursor: pointer;
    }
  }
}
