.dashboard {
  grid-template-areas:
    "header header header"
    "menu directory playlist";
  height: 100vh;
}
.dashboard-loading {
  height: 100vh;
  grid-template-columns: minmax(0, 1fr) max-content;
}