.landing {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr 1fr;
  // background: #348ac7; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  header {
    grid-column: 1 / 3;
    grid-row: 1;
    grid-template-columns: 1fr max-content;
    position: relative;
    display: grid;
    align-items: center;
    justify-items: start;
    background: #348ac7;
        box-shadow: var(--shadow-l);
    border: none;
    div {
      position: relative;
      h1, p {
        transform: scale(1) translateX(100px) translateY(50px);
        z-index: 1;
        color: white;
      }
      h1 {
        font-size: 45px;
      }
      &:before {
        position: absolute;
        content: "";
        height: 1000px;
        width: 500px;
        background: linear-gradient(to right, #03A9F4, #0288D1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        transform: rotate(45deg) translateX(-340px) translateY(-230px);
        box-shadow: var(--shadow-xl);
        border: none;
      }
    }
    button {
      padding: 3rem;
      border: none;
      color: white;
      font-weight: 500;
      font-size: 20px;
    }
  }
  .left {
    // background-color: #B3E5FC;
  }
  .right {
    // background-color: #009688;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    padding: 4rem;
    > div {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-auto-rows: max-content;
      align-items: center;
      gap: 20px;

      i {
        grid-row: 1 / 2;
      }
      h2, p {
        grid-column: 2 / 3;
      }
    }
  }
}