.viewer {
  .playlist_viewer {
    .playlist_viewer-list {
      width: 300px;
      input {
        border-radius: 0;
        color: white;
        border: none;
        height: 50px;
        font-weight: 200;
        font-size: 100%;
        &::placeholder {
          color: white;
        }
      }
      ul {
        background-color: black;
        grid-auto-rows: max-content;
        li {
          color: white;
          &[data-active="true"] {
            background-color: var(--cl-grey);
          }
        }
      }
    }
  }
}