.directory {
  grid-area: directory;
  overflow: hidden;
  background-color: var(--cl-grey-light);
   > button {
    border-radius: 8px;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 100%;
    height: 45px;
    i {
      font-size: 150%;
      margin-right: 0.5rem;
    }
  }
  .directory_items {
    display: grid;
    gap: 2px;
    .directory_item {
      display: grid;
      padding: 1em 1em;
      gap: 1.5em;
      grid-template-columns: minmax(0, max-content) max-content 1fr max-content;
      > * {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        gap: 1em;
      }
      .directory_item-header {
        h4 {
          // width: 350px;
        }
      }
      background-color: white;
      .directory_item-videos {
        grid-auto-columns: max-content;
      }
      .directory_item-footer {
        column-gap: 2em;
      }
    }
  }

}