.directory {
  grid-area: directory;
  overflow: hidden;
   > button {
    border-radius: 8px;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 100%;
    i {
      font-size: 150%;
      margin-right: 0.5rem;
    }
  }
  .directory_items {
    display: grid;
    gap: 1em;
    padding: 1em;
    grid-template-columns: repeat(auto-fit, 300px);
    .directory_project {
      display: grid;
      border: 1px solid var(--cl-grey-light);
      border-radius: 8px;
      .directory_project-header {
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;
        border-bottom: 2px solid var(--cl-grey-light);
        i {
          font-size: 180%;
        }
      }
      .directory_project-keywords {
        display: grid;
        align-items: center;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        background-color: white;
        li:first-of-type {
          font-weight: 500;
          font-size: 120%;
          padding: 0 0.2em;
        }
      }
      .directory_project-videos {
        display: grid;
        align-items: center;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        background-color: white;
        li:first-of-type {
          font-weight: 500;
          font-size: 120%;
          padding: 0 0.2em;
        }
      }
      .directory_project-footer {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr max-content max-content max-content;
        gap: 0.5rem;
        border-top: 2px solid var(--cl-grey-light);
        background-color: white;
        i {
          padding: 1rem;
        }
      }
    }
  }
}