.directory {
  grid-area: directory;
  .directory_header {
    height: 45px;
    position: sticky;
    top: 45px;
    > button {
      grid-auto-flow: column;
      font-weight: 600;
      font-size: 100%;
      i {
        font-size: 150%;
        margin-right: 0.5rem;
      }
      border-right: 1px solid var(--cl-grey);
    }
    > div {
      grid-template-columns: max-content max-content;
      align-items: end;
      font-weight: 500;
      padding-right: 1em;
      > span {
        grid-template-columns: max-content max-content;
        font-weight: normal;
        font-size: 90%;
        align-items: end;
        cursor: pointer;
        i {
          font-size: 100%;
          align-self: center;
        }
      }
    }
  }
  .directory_items {
    grid-auto-rows: max-content;
    .directory_item {
      grid-template-columns: minmax(0, max-content) max-content 1fr max-content;
      > * {
        grid-auto-flow: column;
      }
      background-color: white;
      .directory_item-videos {
        grid-auto-columns: max-content;
      }
      .directory_item-footer {
        column-gap: 2em;
      }
    }
  }

}