.playlist {
  grid-area: playlist;
  position: relative;
  width: 0px;
  height: calc(100vh - 60px);
  &.open {
    width: 350px;
  }
  .playlist_header {
    gap: 5px;
    z-index: 1;
    > div {
      position: sticky;
      top: 0;
      grid-template-rows: max-content max-content;
      h4 {
        height: 45px;
      }
      > div {
        height: 45px;
        grid-auto-flow: column;
        input {
          border: none;
        }
      }
    }
    > ul > li {
      border-bottom: 1px solid var(--cl-grey-light);
      transition: border 0.1s ease;
      &.active {
        background-color: var(--cl-grey-light);
      }
      &.no-items {
        height: 100%;
        text-align: center;
      }
      &.drop-before {
        border-top: 30px solid var(--cl-grey-light);
      }
      &.drop-after {
        border-bottom: 30px solid var(--cl-grey-light);
      }
    }
  }
  .playlist_controls {
    grid-auto-rows: max-content;
    i {
      color: white;
    }
    .playlist_controls-selection {
      height: 45px;
      grid-auto-flow: column;
    }
    .playlist_controls-actions {
      height: 70px;
      grid-auto-flow: column;
    }
  }
}