.video-preview {
  display: none;
  position: absolute;
  bottom: 0;
  right: 100%;
  &.open {
    display: inline;
  }
  width: calc(100vw - 100%);
  height: calc(100vh - 60px);
  .video-preview__header {
    height: 45px;
    border-right: 2px solid var(--cl-grey-light);
  }
  &.minimized {

    border-left: 2px solid var(--cl-grey-light);
    border-top: 2px solid var(--cl-grey-light);
    height: 350px;
    width: 500px;
  }
  > div:last-of-type {
    bottom: 0;
  }
}